########################################
# Ignore everything that isn't BP or C++
########################################
/Saved
/Intermediate
/Content/__ExternalObjects__/ThirdPerson/Maps
/Content/__ExternalActors__/ThirdPerson/Maps
/Content/Characters
/Content/StarterContent
/Binaries
/Config
/Content/LevelPrototyping
.vsconfig
/.vs
/.idea
/Content/ThirdPerson/Maps
/Content/ThirdPerson/Input
Focusfire.sln
Focusfire.sln.DotSettings.user
/Content/ThirdPerson/Sprites
/Content/FXVarietyPack
/Content/Basic_VFX
/Content/VFX
